@import url('https://fonts.googleapis.com/css?family=Ubuntu');

div {
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}

button {
	background-color: #eee;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
	cursor: hand;
}

button:hover {
	background-color: #cfd8dc;
}