#visitor {
	max-width:200px;
	width: 30%;
	text-align: center;
	color: white;
}

#visitors {
	width: 90%;
}

#searchbar {
	min-width: 200px;
	width: 30%;
	margin: 0 auto;
	padding: 0px 15px;
}

input {
	color: black;
}

.mat-input-container {
	width:400px !important;
}

h2 {
	font-size: 1.5vw;
}

h6 {
	font-size: 0.7vw;
}

@media screen and (max-width: 1150px) {
	h2 {
		font-size: 20px;
	}

	h6 {
		font-size: 14px;
	}
}
