<br/>
<mat-card id="searchbar">
<mat-input-container>
	<input matInput [(ngModel)]="searchText" (keyup)="filter()" placeholder="Search..."/>
</mat-input-container>
</mat-card>
<div *ngFor="let visitor of filteredVisitors | async" id="visitors">
	<mat-card id="visitor">
		<h2>{{ visitor.name }}</h2>
		<h6>{{ visitor.ts }}</h6>
		<img mat-card-image src="{{visitor.img1}}" alt="image"/>
		<img mat-card-image src="{{visitor.img2}}" alt="image"/>
		<p>Notes:<br/>{{ visitor.comment }}</p>
	</mat-card>
</div>