<div *ngFor="let client of clients | async" id="clients">
	<div id="client">
		<button 
			id="select" 
			[disabled]="sameUser(client)" 
			[ngStyle]="{'background-color': getColor(client)}" 
			(click)="toggleSelect(client.user, client.$key)">
			<span *ngIf="!client.user">Select</span>
			<span *ngIf="client.user">Selected by<br/>{{ client.user }}</span>
		</button>
		<button 
			id="completed" 
			(click)="hide(client.$key)"
			*ngIf="client.user && !sameUser(client)">
			Complete
		</button>
		<br/>
		<br/>
		<h2>{{ client.name }}</h2>
		<h6>{{ client.ts }}</h6>
		<img src="{{client.img1}}" alt="image"/>
		<img src="{{client.img2}}" alt="image"/>
	</div>
</div>