@import url('https://fonts.googleapis.com/css?family=Roboto:700');

#client {
	max-width:250px;
	text-align: center;
}

#clients {
	width: 90%;
}

button {
	width: 50%;
	float: left;

	padding: 8px 16px 8px 16px;
	min-width: 88px;
	border-radius: 3px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: white;
	text-align: center;
	text-decoration: none;
	border: none;
	outline: none;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#select {
	background-color: darkgreen;
}

#completed {
	background-color: darkslateblue;
}

#commentbox {
	resize: none;
	width: 100%;
}

h2 {
	font-size: 2vw;
	color: white;
}

h6 {
	font-size: 0.7vw;
	color: white;
}

@media screen and (max-width: 1150px) {
	h2 {
		font-size: 20px;
	}

	h6 {
		font-size: 14px;
	}
}
