<div *ngFor="let client of clients | async" id="clients">
	<div id="client">
		<button 
			id="select" 
			[disabled]="sameUser(client)" 
			[ngStyle]="{'background-color': getColor(client)}" 
			(click)="toggleSelect(client.user, client)">
			<span *ngIf="!client.user">Select</span>
			<span *ngIf="client.user">Selected by<br/>{{ client.user }}</span>
		</button>
		<button 
			id="completed" 
			(click)="complete(client.$key, client.name)"
			*ngIf="client.user && !sameUser(client)">
			Complete
		</button>
		<br/><br/><br/>
		<textarea
			id="commentbox"
			*ngIf="client.user && !sameUser(client)"
			placeholder="Add comment...(optional)"
			[(ngModel)]="comment"></textarea>
		<h2>{{ client.name }}</h2>
		<h6>{{ client.ts }}</h6>
		<img src="{{client.img1}}" alt="image"/>
		<img src="{{client.img2}}" alt="image"/>
	</div>
</div>