img {
	max-width: 360px;
}

#client {
	max-width:330px;
	width: 70%;
}

#clients {
	width: 90%;
}

h2 {
	font-size: 1.5vw;
}

h6 {
	font-size: 0.7vw;
}

button {
	width: 40%;
	float: left;
}

#select {
	background-color: darkgreen;
}

#completed {
	background-color: darkslateblue;
}
