<mat-card class="login-card">
	<!-- <img width="30px" src="../assets/LOGO.png" alt="KIAC-DAAE"> -->
	<span class="appname">Web for KIAC</span>
	<br><br><br>
	<mat-input-container>
		<input matInput type="text" placeholder="Email" required [(ngModel)]="email">
	</mat-input-container>
	<br><br>
	<mat-input-container>
		<input matInput type="password" placeholder="Password" required [(ngModel)]="password">
	</mat-input-container>
	<br><br>
	<button mat-raised-button color="primary" (click)="login()">Login</button>
	<br><br>
</mat-card>
