/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
	background-color: black;
}

img {
	width: 90%;
}

#visitors {
	margin: 0 auto;
	padding: 0;
}

#visitor {
	float: left;
	background:#555;
	margin: 0.5em 0.7em;
}

#events {
	width: 80%;
	margin: 0 auto;
}

#event {
	text-align: left;
}

#event:nth-child(odd) {
	background: #666;
}

#header {
	background-color: #FF4081;
	text-align: center;
	color: white;
}

.example-spacer {
	flex: 1 1 auto;
}

.login-card {
	width: 250px;
	margin: 15em auto;
}

.login-card img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#form-container {
	width: 300px;
	margin: 0 auto;
}

.login-card input, #form-container input {
	color: black;
}

#form-container button {
	margin: 20px 10px;
}

#searchbar {
	min-width: 200px;
	width: 30%;
	margin: 0 auto;
	padding: 0px 15px;
}
